PORT="App port."
JWT_SECRET="Your jwt secret."
METEO_BLUE_API_LOCATION_INFORMATION="https://www.meteoblue.com"
METEO_BLUE_API_FORECAST_INFORMATION="http://www.meteoblue.com"
METEO_BLUE_API_KEY="Your API key".
MONGO_DB_STRING="Your mongodb string connection."
BACKGROUND_WEATHER_FORECAST_JOB_COOLDOWN="Your weather forecast fetcher automated job"
AGENDA_JOBS_ENABLED="Enable or disabled agenda jobs"
SQL_DIALECT="Your sql db dialect."
SQL_HOST="Your sql host name or ip address."
SQL_DB="Your sql db name."
SQL_PORT="Your sql instance port number. Standard is 3306."
SQL_USER_NAME="Your user name for sql db connection."
SQL_PASSWORD="Your password for sql db connection."